@model Diplom_project.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

    });


    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

        // Update the page elements
        if (data.ItemCount == 0) {
            $('#row-' + data.DeleteId).fadeOut('slow');
        } else {
            $('#item-count-' + data.DeleteId).text(data.ItemCount);
        }

        $('#cart-total').text(data.CartTotal);
        $('#update-message').text(data.Message);
        $('#cart-status').text('Cart (' + data.CartCount + ')');
    }
</script>
<h3>
    <em>Товари</em> у вашому кошику:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >>", "ChooseAdress", "Purchase")
</p>
<div id="update-message">
</div>
<table class="table table-bordered">
    <tr>
        <th>
           Назва виробу
        </th>
        <th>
           Ціна
        </th>
        <th>
           Кількість
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.idRecord">
            <td>
                @Html.ActionLink(item.nameProduct, "Details", "WebStore", new { id = item.idProduct }, null)
            </td>
            <td>
                @item.price
            </td>
            <td id="item-count-@item.idRecord">
                @item.amount
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.idRecord">Видалити з кошика</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Загалом зі знижкою @Model.CustDiscount%
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>