@model  List<Diplom_project.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Index
    @foreach (var customer in Model)
    {
        <div class="item">
            <span class="id">
                @customer.email
            </span>
            <span class="name">
                @customer.firstName
            </span>
            <span class="Code">
                @customer.lastName
            </span>
        </div>
    }
    @foreach (var customer in Model)
    {
        <div class="item">
            <span class="id">
                @customer.email
            </span>
            <span class="name">
                @customer.firstName
            </span>
            <span class="Code">
                @customer.lastName
            </span>
        </div>
    }
    @foreach (var customer in Model)
    {
        <div class="item">
            <span class="id">
                @customer.email
            </span>
            <span class="name">
                @customer.firstName
            </span>
            <span class="Code">
                @customer.lastName
            </span>
        </div>
    }
    @foreach (var customer in Model)
    {
        <div class="item">
            <span class="id">
                @customer.email
            </span>
            <span class="name">
                @customer.firstName
            </span>
            <span class="Code">
                @customer.lastName
            </span>
        </div>
    }
